.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 5px;
  width: 60%;
  cursor: 'pointer';
  transition-duration: 0.4s;
  span {
    margin-left: 5px;
  }
}
