.productsContainer {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 215px);
  justify-content: space-between;
  grid-gap: 0px;
  .productItem {
    color: white;
    width: 200px;
    height: 60px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    img {
      width: 25px;
    }
    span {
      font-size: 14px;

      margin-left: 10px;
    }
  }
}
